.card {
    overflow-y: auto;
    max-height: 60vh;
    width: 99%;
    margin: 10px auto;
    border: 1px solid #EBEBEB;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.card .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.card .card-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.card .content-card {
    margin-top: 0px;
    padding: 15px;
}